.App {
  background: url('/bkg.jpg') no-repeat center center fixed;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 0px 15px 15px;
  min-width: 25%;
  height: 525px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  background: steelblue;
  padding: 15px;
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar a.active {
  background: royalblue;
}

.sidebar .signout {
  align-self: baseline;
  color: white;
}

.sidebar .signout a {
  background: transparent;
  padding: 15px 0 0 15px;
}

.content {
  display: flex;
  flex-grow: 1;
  color: slategrey;
  background: white;
  padding: 15px;
}

.version-text {
  font-size: 10px;
  padding-left: 15px;
  width: 75%;
}